{:paths   ["src/clj" "src/cljs" "src/cljc"]
 :aliases {:test {:extra-paths ["spec/clj" "spec/cljs" "spec/cljc"]
                  :extra-deps  {speclj/speclj {:mvn/version "3.9.0"}}}
           :run  {:main-opts ["-m" "tic-tac-toe.main"]}}


 :deps    {org.clojure/clojure       {:mvn/version "1.12.1"}
           org.postgresql/postgresql {:mvn/version "42.7.3"}
           org.clojure/java.jdbc     {:mvn/version "0.7.12"}
           cheshire/cheshire         {:mvn/version "5.10.2"}
           quil/quil                 {:mvn/version "4.3.1563"}
           hiccup/hiccup             {:mvn/version "2.0.0-alpha2"}}}