{0 {:state {:screen :main-menu, :difficulties [:easy], :board-size :3x3, :active-game false, :id 0, :players [:human :ai]}, :moves [{:player "X", :position 1} {:player "O", :position 0} {:player "X", :position 2} {:player "O", :position 4} {:player "X", :position 5} {:player "O", :position 6} {:player "X", :position 8}]}, 1 {:state {:screen :main-menu, :difficulties [:easy], :board-size :4x4, :active-game true, :id 1, :players [:human :ai]}, :moves [{:player "X", :position 0} {:player "O", :position 11}]}}