{0 {:state {:screen :game, :difficulties [:easy], :board-size :3x3, :ui :cli, :active false, :id 0, :players [:human :ai]}, :moves [{:player "X", :position 1} {:player "O", :position 0}]}, 1 {:state {:screen :game, :difficulties [:easy], :board-size :4x4, :ui :cli, :active false, :id 1, :players [:human :ai]}, :moves [{:player "X", :position 0} {:player "O", :position 5}]}}